.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 50em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.outer h1 {
  z-index: 1;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 12em;
  text-align: right;
  margin-right: 2em;
}

.blueBlob {
  position: absolute;
  transform: translateX(22em) translateY(-10em);
  z-index: 2;
}

.illustration {
  position: absolute;
  transform: translateX(-30em);
  z-index: 0;
}

@media (max-width: 767px) {
  .row {
    flex-direction: column;
    align-items: center;
    padding-left: unset;
  }

  .paragraphs {
    text-align: center;
    max-width: 20em;
    margin-right: 0;
  }
}
