.outer {
  background-color: var(--code-block-wrapper-background-color);
  border: 1px solid var(--code-block-wrapper-border-color);
  border-radius: 1.5em;
  margin-left: 2em;
  overflow: hidden;
}

.line {
  border-bottom: 1px solid var(--code-block-wrapper-border-color);
  margin-top: 1.5em;
}

.outer button {
  display: none;
}
