.outer {
  position: relative;
  display: flex;
  padding-bottom: 17.5em;
}

.texts {
  display: flex;
  flex-direction: column;
  max-width: 9em;
  text-align: right;
  z-index: 1;
}

.texts h1 {
  font-size: 1.75em;
}

.purpleBlob {
  position: absolute;
  top: 7.5em;
  left: -20em;
  z-index: 0;
}
