.outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50em;
  width: 100%;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
}

.texts {
  display: flex;
  flex-direction: column;
  width: 20em;
  z-index: 1;
  transform: translateX(-15em);
}

.blueBlob {
  position: absolute;
  z-index: 2;
  transform: translateX(-25em) translateY(5em);
}

.illustration {
  position: absolute;
  transform: translateX(10em);
  z-index: 0;
}

@media (max-width: 767px) {
  .outer {
    flex-direction: column;
    text-align: center;
    height: 23em;
  }

  .texts {
    transform: none;
  }

  .illustration {
    scale: 0.5;
    transform: translateX(30em) translateY(0em);
  }

  .blueBlob {
    scale: 0.5;
  }
}
