.outer {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 10em;
}

.texts {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.blueBlob {
  position: absolute;
  left: -18em;
  top: 6.5em;
}

.illustration {
  right: 0;
}
