.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 40em;
  width: 100%;
  overflow: hidden;
}

.header img {
  position: absolute;
  display: flex;
  width: auto;
  height: 100%;
  max-width: unset;
  z-index: 0;
  user-select: none;
}

.header h1 {
  font-size: 2.5em;
  z-index: 1;
}

.header h2 {
  margin-top: 2em;
  z-index: 1;
}
