.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 60em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.outer h1 {
  z-index: 1;
  text-align: center;
  font-size: 4em;
}

.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 16em;
  text-align: center;
}

.paragraphs p:last-child {
  margin: 0;
}

.blueBlob {
  position: absolute;
  transform: translateX(12em) translateY(-10em) scale(1);
  z-index: 2;
}

.pipelineIllustration {
  position: absolute;
  transform: translateX(-20em) translateY(-10em) scale(0.8);
  z-index: 0;
}

.routerIllustration {
  position: absolute;
  transform: translateX(20em) translateY(10em) scale(0.7);
  z-index: 0;
}

@media (max-width: 767px) {
  .outer {
    height: 40em;
  }

  .row {
    flex-direction: column;
    align-items: center;
    padding-left: unset;
  }

  .paragraphs {
    text-align: center;
    max-width: 20em;
    margin-right: 0;
  }

  .pipelineIllustration {
    display: none;
  }

  .routerIllustration {
    display: none;
  }
}
