.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10em;
}

.outer h1 {
  z-index: 2;
}

.row {
  display: flex;
  align-items: flex-start;
  padding-left: 5em;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  max-width: 12em;
  text-align: right;
}

.blueBlob {
  position: absolute;
  right: -10em;
  top: -12em;
}

.illustration {
  position: absolute;
  width: 15em;
  left: -10em;
}
