@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ifm-font-family-base: "Inter", sans-serif;
  --ifm-heading-font-family: "Inter", sans-serif;
  --ifm-heading-font-weight: 900;
  --ifm-heading-color: white;
  --ifm-button-color: white;
}

html[data-theme="dark"] {
  --ifm-background-color: #11032c;
  --ifm-navbar-background-color: unset;
  --ifm-color-primary: #55bbff;

  --ifm-toc-border-color: #504e7e;

  --code-block-wrapper-background-color: var(--ifm-background-color);
  --code-block-wrapper-border-color: var(--ifm-toc-border-color);
}

.footer--dark {
  --ifm-footer-background-color: var(--ifm-background-color);
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__copyright {
  font-size: 0.75em;
}

.footer__bottom {
  margin-top: 4em;
}

::selection {
  background-color: #47b4cf;
}

img {
  user-select: none;
  pointer-events: none;
}

.navbar-custom-icon {
  scale: 1;
  transition: scale 0.25s;
  user-select: unset;
  pointer-events: unset;
}

.navbar-custom-icon:hover {
  scale: 1.1;
}

.navbar-github-icon {
  height: 2em;
}

.navbar-bluesky-icon {
  height: 1.5em;
}

.main-wrapper {
  align-items: center;
}

.custom-navbar-item img {
  vertical-align: middle;
}

.theme-code-block {
  color: white !important;
  background-color: var(--code-block-wrapper-background-color) !important;
  margin-bottom: 0 !important;
  border: 1px solid var(--code-block-wrapper-border-color);

  /* Style the border below the title (in the docs) */
  --ifm-color-emphasis-300: var(--code-block-wrapper-border-color);
}

.home-main {
  width: 100%;
}

.home-main .theme-code-block {
  border: none;
}

.theme-code-block pre {
  background-color: var(--code-block-wrapper-background-color) !important;
  --prism-background-color: var(
    --code-block-wrapper-background-color
  ) !important;
}

.theme-code-block .token {
  color: white !important;
}

.theme-code-block .keyword {
  color: #ff428e !important;
}

.theme-code-block .string {
  color: #55bbff !important;
}

.theme-code-block .number {
  color: #55bbff !important;
}

.theme-code-block .punctuation {
  color: #55bbff !important;
}

.theme-code-block .comment {
  color: #fd9bc2 !important;
}
