@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ifm-heading-font-family: "Inter", sans-serif;
  --ifm-heading-font-weight: 900;
  --ifm-heading-color: white;
}

html[data-theme="dark"] {
  --ifm-background-color: #11032c;
  --ifm-navbar-background-color: unset;
  --code-block-background-color: #15002c;
  --ifm-color-primary: #55bbff;
}

.navbar-custom-icon {
  scale: 1;
  transition: scale 0.25s;
}

.navbar-custom-icon:hover {
  scale: 1.1;
}

.navbar-github-icon {
  height: 2em;
}

.navbar-bluesky-icon {
  height: 1.5em;
}

.main-wrapper {
  align-items: center;
}

.custom-navbar-item img {
  vertical-align: middle;
}

.theme-code-block {
  background-color: var(--code-block-background-color) !important;
  margin-bottom: 0 !important;
}

.theme-code-block pre {
  background-color: var(--code-block-background-color) !important;
  --prism-background-color: var(--code-block-background-color) !important;
}

.theme-code-block .token {
  color: white !important;
}

.theme-code-block .keyword {
  color: #ff428e !important;
}

.theme-code-block .string {
  color: #55bbff !important;
}

.theme-code-block .punctuation {
  color: #55bbff !important;
}

.theme-code-block .comment {
  color: #fd9bc2 !important;
}
