.header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 35em;
  width: 100%;
  overflow: hidden;
  padding-left: 1em;
  padding-right: 1em;
}

.header img {
  position: absolute;
  display: flex;
  width: auto;
  height: 100%;
  max-width: unset;
  z-index: 0;
}

.header h1 {
  font-size: 4em;
  z-index: 1;
  text-align: center;
}

.header h2 {
  margin-top: 2em;
  z-index: 1;
  text-align: center;
}

.button {
  margin-top: 4em;
  --ifm-color-primary: #0c86d7;
}

@media (max-width: 767px) {
  .header {
    min-height: 100vh;
  }

  .header h1 {
    font-size: 3em;
  }
}
