.outer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.texts {
  display: flex;
  flex-direction: column;
  max-width: 9em;
  text-align: right;
  z-index: 0;
  margin-right: 2em;
}

.texts p {
  margin: 0;
}

.texts h1 {
  font-size: 1.75em;
}

.purpleBlob {
  position: absolute;
  transform: translateX(-24em) translateY(1em);
  z-index: 1;
}

@media (max-width: 991px) {
  .outer {
    flex-direction: column;
    align-items: center;
  }

  .texts {
    max-width: unset;
    text-align: center;
    margin-right: 0;
  }

  .texts p {
    margin-bottom: 1em;
  }
}
